.body{
  display: flex;
  margin: 0px;
}

.compet {
  width: 20%;
  height: 315px;
  margin: 10px;
  margin-top: 1px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #213465;
  border-radius: 5px;
  background-color: #f1f3f9;
  float: left
  
}

.compet h2 {
  margin-top: 0;
  font-size: 14px;
}

.compet hr {
  width: 82px;
  height: 1px;
  margin: 26px 0;
  background-color: #2171BB;
  border: none;
}

.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: -10px;
  display: flex;
  justify-content: flex-start;
}

.tab li {
  margin: 0 10px;
}

.tab a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #213465;
  border-radius: 5px;
  border: 0.5px solid #213465;
}

.tab a.active {
  font-weight: bold;
  background-color: #fff;
  border: #fff;
}

.tab a:hover {
  background-color: #e5e5e5;
  border: #fff;
}


.form {
  margin-top: 26px;
  text-align: left;
}

.form select {
  width: 267px;
  height: 37px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #213465;
  border-radius: 5px;
  border: 1px solid #213465;
}

.form button {
  margin-top: 26px;
  width: 133px;
  height: 37px;
  border: none;
  background-color: transparent;
  color: #213465;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #213465;
}

.form button:hover {
  color: #fff;
  background-color: #213465;
}





.section {
  display: flex;
  background-color: #F1F3F9;
  width: 71%;
  height: 340px;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  
}

.image-container {
  margin-left: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 139px;
  height: 134px;
}

.subsections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin: 0px 20px 0;
  padding: 0 9px;
}

.subsection:not(:last-child) {
  margin-right: 9px;
}


.subsection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 144px;
  height: 228px;
  background-color: white;
  margin: 0 0;
  padding: 15px 9px;
  border-radius: 5px;
  flex-grow: 1;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  background-color: #2171bb;
  border-radius: 50%;
  margin-bottom: 25px;
  margin-top: 20px; /* Adicionado para ajustar posição vertical do círculo */
}

.circle img {
  max-width: 20px;
  max-height: 20px;
  object-fit: contain;
}

.subsection h2 {
  font-weight: bold;
  font-size: 1rem;
  margin: 17px 0 0;
  text-align: center;
  color: #394053;
}

.subsection p {
  text-align: center;
  margin: 25px 0 0; /* Adicionado para ajustar posição vertical do texto */
  line-height: 1;
  font-size: 0.8rem;
  color: #394053;
  padding-inline: 16px;
}

.subsection:hover {
  background-color: #2171BB;
  color: #FFF;
}

.subsection:hover h2, .subsection:hover p {
  color: white;
  
}
.subsection:hover .circle {
  background-color: #FFFFFF;
}

.subsection:hover .circle img {
  filter: invert(1);
}